li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 1; /* Отступ слева*/
    padding-left: 1; /*Отступ слева*/
}

a {
    text-decoration:none;
    color: black;
}

h1{
    color:blueviolet;
}
h2{
    color:rgb(93, 9, 172);
}
h3{
    color:rgb(26, 78, 190);
}
h4{
    color:rgb(26, 78, 190);
}
.logo {
    float: left;
 }

img {
    padding:5px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: 1px solid blueviolet;
    background-color: rgb(231, 234, 250);

}


header {
    background-color: rgba(218, 198, 255, 0.87);
    padding: 10px;
    list-style: none;
    border-radius: 5px;  
}

footer {
    background-color: rgba(198, 227, 255, 0.87);
    padding: 5px;
    list-style: none;
    border-radius: 5px;
    min-height: 75px;
    width: 100%;
    display: inline-block;
}

body{ 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.desk{
    font-size: 1,1em;
}

.menu-item{
    display: inline-block;
    margin-right: 20px;
}

.main-header{
    text-align: center;
}

.menu-link{
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
}

.menu-link:hover{
    color:rgb(93, 9, 172);
}

.item-img{
    width: 200px;
    display: block;
    margin: 0 auto;
}

.item-shrt{
    float: left;
    width: 275px;
    display: block;
    margin: 0 auto;
}

.item-shrt_prod{
    float: left;
    width: 200px;
    display: block;
    margin: 0 auto;
}

.item-card{
    display: inline-block;
    width: 375px;
    /* min-height: 550px; */
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 15px;
}

.item-card:hover{
    outline: 1px solid rgb(25, 0, 167);
}

.name{
    display: inline-block;
    width: 70%
}

.price{
    text-align: right;
    width: 25%;
    display: inline-block;
}

.description{
    text-align: left;
}

.help{
    width: 50px;
    height: 50px;
    background-color: rgb(76, 0, 255);
    color:cornsilk;
    font-size: 2.7em;
    border-radius: 100%;
    position: fixed;
    top: 80%;
    right: 10px;
}

.q{
    text-align: center;
    margin: 0 !important;
    height: 100%;
}

.help:hover{
    background-color: rgb(147, 117, 255);
}

.q-link{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0px;
    display: block;
}

.buy{
    border-color:rgb(76, 0, 255);
    color:rgb(25, 34, 112);
    background-color: rgb(231, 228, 252);
}

.buy:hover{
    background-color: slateblue;
    border-color: rgb(0, 60, 255);
    color:rgb(248, 165, 248)
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1000px){
    body { background: rgb(250, 232, 255);}
    .menu-item {
        display: block;
    }
}

.feedback {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}


.feedback::after {
    content: "";
    clear: both;
    display: table;
}

.feedback img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.feedback span {
    font-size: 20px;
    margin-right: 15px;
}

.feedback-area{
    border: 2px solid black;
    background-color: rgb(229, 224, 248);
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}

.login-feedback{
    font-size: 20px;
    margin-right: 55px;
    color: rgb(37, 40, 52);
}

input[type="text"] {
    border-radius: 3px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important; 
    outline: none; 
    height: 30px;
    width: 200px; 
    font-size: 15px;
    font-family: Tahoma; 
 }

input[type="email"] {
    border-radius: 3px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important; 
    outline: none; 
    height: 30px;
    width: 200px; 
    color: #cccccc; 
    font-size: 15px;
    font-family: Tahoma; 
 }

textarea {
    border-radius: 3px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important; 
    outline: none; 
    height: 400px;
    width: 400px; 
    color: #230161; 
    font-size: 15px;
    font-family: Tahoma; 
 }

.sub-button{
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

form-control{
    width: 1000px
}