li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 1; /* Отступ слева в браузере IE и Opera */
    padding-left: 1; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a {
    text-decoration:none;
    color: black;
}

h1{
    color:blueviolet;
}
h2{
    color:rgb(93, 9, 172);
}
h3{
    color:rgb(26, 78, 190);
}


header {
    background-color: rgba(218, 198, 255, 0.87);
}
footer {
    background-color: rgba(198, 227, 255, 0.87);
}

img {
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: 1px solid blueviolet;
    background-color: cornsilk;

}