li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 1; /* Отступ слева*/
    padding-left: 1; /*Отступ слева*/
}

a {
    text-decoration:none;
    color: black;
}

h1{
    color:blueviolet;
}
h2{
    color:rgb(93, 9, 172);
}
h3{
    color:rgb(26, 78, 190);
}

.logo {
    float: left;
 }

img {
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: 1px solid blueviolet;
    background-color: rgb(231, 234, 250);

}

header {
    background-color: rgba(218, 198, 255, 0.87);
    padding: 10px;
    list-style: none;
    border-radius: 5px;
}

footer {
    background-color: rgba(198, 227, 255, 0.87);
    padding: 10px;
    list-style: none;
    border-radius: 5px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.menu-item{
    display: inline-block;
    margin-right: 20px;
}

.main-header{
    text-align: center;
}

.menu-link{
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
}

.menu-link:hover{
    color:rgb(93, 9, 172);
}

.container{
    margin: 20px 20px;
}

.item-img{
    width: 200px;
    display: block;
    margin: 0 auto;
}

.item-card{
    display: inline-block;
    width: 350px;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 15px;
}

.item-card:hover{
    outline: 1px solid rgb(25, 0, 167);
}

.name{
    display: inline-block;
    width: 70%
}

.price{
    text-align: right;
    width: 25%;
    display: inline-block;
}

.description{
    text-align: left;
}

.help{
    width: 50px;
    height: 50px;
    background-color: rgb(76, 0, 255);
    color:cornsilk;
    font-size: 2.7em;
    border-radius: 100%;
    position: fixed;
    top: 80%;
    right: 10px;
}

.q{
    text-align: center;
    margin: 0 !important;
    height: 100%;
}

.help:hover{
    background-color: blueviolet;
}

.q-link{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0px;
    display: block;
}
