{% extends "base.html" %}

{% block content %}
<div class="main-wrapper">
    <div class="catalog-items">
        {% for item in items %}
            <div class="item-card">
                <a href="/item/{{item.name}}"><img class = "item-shrt" src="{{ url_for('static', filename='img_prod/' + item.image) }}"></a>
                <br>
                <h3 class="name">{{item.name}}</h3>
                <h4 class="price"> {{item.price}} </h4>
                <p class="description">{{item.description}}</p>
                <button class="buy" onclick="window.location.href='impala'">ПРОСМОТР</button>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}