

    {% extends "base.html" %}

    {% block content %}

    <h2>О нас:</h2>
    <h4>Нас не много, а точнее одна я. Так что без лишних слов /звуки барабанной дроби/ представляю вам</h4>
    <a class="menu-link" href="https://vk.com/ne_pridumal_nic"> Серышева Даша!! </a>
    <br>
    <img src="{{ url_for('static', filename='img_logo/Я.jpg') }}" wigth="400" height="400">
    <h4>Не надо, не надо аплодисментов. Обойдемся без них(спасибо)</h4>
    <p class="desk"> Для обратной связи можно написать в одной из следующих социальных сетей:
        <br>ВКонтакте: <a class="menu-link" href="https://vk.com/ne_pridumal_nic">тык</a>
        <br>Твиттер: <a class="menu-link" href="https://twitter.com/ne_pridumal_nic">тык</a>
        <br>Инстаграм: <a class="menu-link" href="https://www.instagram.com/dasharossgard/">тык</a>
        <br>Или на почту: dasha.ross@gmail.com
    </p>
    {% endblock %}

