<div class="container">
    
    {% extends "base.html" %}

    {% block content %}
        <a href="/lem/?lem_id={{item.prod_id}}"><img class = "item-shrt" src="{{ url_for('static', filename='img_prod/' + item.image) }}"></a>
        <br>
            <h3 class="desk"> Безалкогольный напиток брожжения с незыбываемым вкусом. В жаркий день подарит свежесть, а в грусный, дождливый день будет идеальным дополнением к пледу и любимому фильму/сериалу/произведению. <br> Бобби гарантирует.</h3>
        <br>
        <p class="desk">
            Доставка в любой уголок России 100 руб за километр, самовывоз бесплатно в любое время по адресу г. Спб, ул. Джона Леннона <br>
            10 бутылок  - 670 руб    <form method="POST" name="buy_some1"><input type="submit" value="В корзину" class="sub-button" name="btn"></form>
            <button class="btn btn-outline-primary" onclick="window.location.href='/drinks'">К КАТАЛОГУ НАПИТКОВ</button>
        </p>
    {% endblock %}

    
</div>